[submodule "third-party/nds-db"]
	path = third-party/nds-db
	url = https://github.com/azusazusa11/nds-db.git
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/libpng"]
	path = third-party/libpng
	url = https://github.com/glennrp/libpng
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
