[submodule "third-party/nds-db"]
	path = third-party/nds-db
	url = https://github.com/htirea/nds-db.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
